

@font-face {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
        
}
@font-face {
  font-family: 'Opinion Pro Extra Condensed';
  src: url('../fonts/Opinionproextracondensedlight.ttf'),
  url('../fonts/Opinionproextracondensedlight.woff'),
  url('../fonts/Opinionproextracondensedlight.woff2');

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Opinion Pro Extra Condensed';
  src: local('Opinion Pro ExtraCondensed Light Italic'), local('OpinionProExtraCondensed-LightItalic'), url('Opinionproextracondensedlightitalic.woff2') format('woff2'), url('Opinionproextracondensedlightitalic.woff') format('woff'), url('Opinionproextracondensedlightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x2va74');
  src:  url('../fonts/icomoon.eot?x2va74#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x2va74') format('truetype'),
    url('../fonts/icomoon.woff?x2va74') format('woff'),
    url('../fonts/icomoon.svg?x2va74#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-facebook1:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}




